* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(118, 118, 121), #414369);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(2, 2, 4);
  background-color: rgb(34, 78, 42);
}
.calculator #visor {
  position: relative;
  color: rgb(0, 0, 0);
  padding: 3px;
  height: 50px;
  font-weight: 700;
}
input {
  text-align: end;
}

.calculator #visorbg {
  font-size: 2em;
  width: 18rem;
}
.calculator button {
  background-color: #fff;
  color: black;
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
.calculator button:hover {
  transform: scale(1.1);
}
.calculator .btn {
  background-color: burlywood;
  color: black;
}
.calculator #c {
  background-color: orangered;
  color: black;
}
.calculator #igual {
  background-color: green;
  color: antiquewhite;
  height: 130px;
  border-radius: 30px;
  margin-left: 10px;
}
.calculator.dark {
  background-color: rgb(27, 24, 24);
}
.calculator.dark #visor {
  height: 50px;
}
.calculator.dark #visorbg {
  font-size: 30px;
  font-weight: 700;
  width: 18rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.calculator.dark button {
  background-color: rgba(35, 30, 176, 0.367);
  color: rgb(255, 255, 255);
}
.calculator.dark button:hover {
  transform: scale(1.1);
  filter: brightness(1.4);
}
.calculator.dark .btn {
  background-color: rgb(100, 95, 89);
  color: rgb(192, 192, 192);
}
.calculator.dark #c {
  background-color: orangered;
  color: rgb(255, 255, 255);
}
.calculator.dark #igual {
  background-color: rgb(49, 133, 49);
  color: antiquewhite;
  height: 130px;
  border-radius: 30px;
}
.calculator .theme-toggler {
  position: absolute;
  top: 122px;
  right: 70px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 1;
}
.calculator .theme-toggler::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(209, 195, 191);
  z-index: -1;
}
.calculator .theme-toggler .active {
  color: rgb(0, 0, 0);
}
.calculator .theme-toggler .active::before {
  background-color: rgb(0, 0, 0);
}

